Resolution/Service References/ResolutionService/Resolver21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://solidsoftreply.com/schemas/webservices/esbresolutionservice/2015/05" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://solidsoftreply.com/schemas/webservices/esbresolutionservice/2015/05" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://solidsoftreply.com/schemas/webservices/esbresolutionservice/2015/05/Imports">
      <xsd:import schemaLocation="http://localhost/EsbResolution2/Resolver.svc?xsd=xsd0" namespace="http://solidsoftreply.com/schemas/webservices/esbresolutionservice/2015/05" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ResolveRequest">
    <wsdl:part name="parameters" element="tns:Resolve" />
  </wsdl:message>
  <wsdl:message name="ResolveResponse">
    <wsdl:part name="parameters" element="tns:ResolveResponse" />
  </wsdl:message>
  <wsdl:message name="IResolver_GetInterceptionPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInterceptionPolicy" />
  </wsdl:message>
  <wsdl:message name="IResolver_GetInterceptionPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInterceptionPolicyResponse" />
  </wsdl:message>
  <wsdl:portType name="IResolver">
    <wsdl:operation name="Resolve">
      <wsdl:input wsaw:Action="http://solidsoftreply.com/schemas/webservices/esbresolutionservice/2015/05/Resolve" name="ResolveRequest" message="tns:ResolveRequest" />
      <wsdl:output wsaw:Action="http://solidsoftreply.com/schemas/webservices/esbresolutionservice/2015/05/IResolver/ResolveResponse" name="ResolveResponse" message="tns:ResolveResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetInterceptionPolicy">
      <wsdl:input wsaw:Action="http://solidsoftreply.com/schemas/webservices/esbresolutionservice/2015/05/GetInterceptionPolicy" message="tns:IResolver_GetInterceptionPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://solidsoftreply.com/schemas/webservices/esbresolutionservice/2015/05/IResolver/GetInterceptionPolicyResponse" message="tns:IResolver_GetInterceptionPolicy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>