Archive/Test/TestApp/Service References/Service1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeTypeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="MyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeTypeRequest" nillable="true" type="tns:CompositeTypeRequest" />
  <xs:complexType name="CompositeTypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hello" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeTypeResponse" nillable="true" type="tns:CompositeTypeResponse" />
</xs:schema>