Archive/Test/TestApp/Service References/Service1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://solidsoft.com/schemas/testservice1/service1" elementFormDefault="qualified" targetNamespace="http://solidsoft.com/schemas/testservice1/service1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hxl-tap-devjh/TestService1/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestService1" />
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestService1" minOccurs="0" name="request" nillable="true" type="q1:CompositeTypeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestService1" minOccurs="0" name="HelloResult" nillable="true" type="q2:CompositeTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>